html, body {
  height: 100%;
  margin: 0;
}

.form-container {
  max-width: 350px;
  padding: 1rem;
}

@media (min-width: 768px) {
  body {
    display: flex;
    align-items: center;
    height: 100vh;
  }
}

.btnconf {
  background-color: #00C781;
  border: 2px solid transparent;
  border-radius: 8px;
  color: white;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btnconf:hover {
  background-color: #00b373;
}