  body {
      background-color: #f8f9fa;
      font-family: Arial, sans-serif;
    }
    
    
    main.container {
      max-width: 600px;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .user-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem; 
      max-width: 500px;
      margin: 0 auto;
      flex-wrap: wrap
    }

    @media (max-width: 576px) {
      .user-container {
        flex-direction: column;
        text-align: center;
      }
    }
    
    
    .user-info-box {
      text-align: center;
      width: 100px;
    }
    
    
    .bloc-funcoes {
      background-color: var(--item-bg), #ffffff;
      border-radius: 10px;
      padding: 1rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    }
    
    
    .item-bloc {
      margin-bottom: 1.5rem;
      cursor: pointer;
      border-bottom: 1px solid #222;
      padding-bottom: 1rem;
    }
    
    .item-bloc:last-child {
      border-bottom: none;
    }
    
    .item-bloc .title {
      color: #00ff95;
      font-weight: 600;
      margin: 0;
    }
    
    .item-bloc p {
      margin: 0.3rem 0 0;
      font-size: 0.95rem;
    }
    
    
    .nav-link {
      color: #000000 !important;
    }
    
    
    @media (min-width: 768px) {
      main.container {
        max-width: 600px;
        padding-top: 3rem;
      }
    }
    
    
    [data-bs-theme="dark"] body {
      background-color: #121212;
      color: #f1f1f1;
    }
    
    [data-bs-theme="dark"] .navbar,
    [data-bs-theme="dark"] footer {
      background-color: #1e1e1e !important;
    }
    
    [data-bs-theme="dark"] .nav-link,
    [data-bs-theme="dark"] .btn,
    [data-bs-theme="dark"] .title,
    [data-bs-theme="dark"] p {
      color: #ffffff !important;
    }
    
    [data-bs-theme="dark"] footer a {
      color: #ffffff !important;
    }
    
    
    [data-bs-theme="light"] footer {
      background-color: #000000 !important;
      color: #ffffff !important;
    }
    
    [data-bs-theme="light"] footer a {
      color: #ffffff !important;
    }
    
    
    [data-bs-theme="light"] .item-bloc {
      --item-bg: #ffffff;
      --item-text: #000000;
    }
    
    [data-bs-theme="dark"] .item-bloc {
      --item-bg: #1c1c1c;
      --item-text: #ffffff;
    }